<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784979417734-l5m8op1nnnnu9k9a2q2p2ofdlou76o1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784979417734-l5m8op1nnnnu9k9a2q2p2ofdlou76o1h</string>
	<key>API_KEY</key>
	<string>AIzaSyD3XdhEykOYOWSeK3tFIykD3t3pUCeFy1s</string>
	<key>GCM_SENDER_ID</key>
	<string>784979417734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jakubapola.najlepszeJedzenie</string>
	<key>PROJECT_ID</key>
	<string>najlepsze-jedzenie-654321</string>
	<key>STORAGE_BUCKET</key>
	<string>najlepsze-jedzenie-654321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784979417734:ios:b1178cbf2be8f8c82b4f07</string>
</dict>
</plist>